/* Estilos globais para o Simulador CTFL */
body {
  background-color: #f3f4f6;
}
.k1 {
  background-color: #c7ccfe;
}
.k2 {
  background-color: #bffec2;
}
.k3 {
  background-color: #fcefa5;
}
.k4 {
  background-color: #fa9d9d;
}
